
<div class="container">
  <div class="row d-flex text-white"><h1>Chat Daw [Jorge]</h1></div>
  <form #f="ngForm" action="post">
    <div class="form-group bg-dark text-white">
      <div class="row text-white "><app-usuario></app-usuario></div>
      <div class="row text-white "><app-mensaje></app-mensaje></div>
    </div>
  </form>
  <div class="row bg-dark text-white"><app-botones></app-botones></div>
  <div class="row bg-dark text-white"><app-tabla-mensajes></app-tabla-mensajes></div>

</div>

